/*font styles for the webpage*/
@font-face {
    font-family: 'main';
    src: url('../fonts/HelveticaNeueLTCom-Md.ttf') format('truetype');
}

body {
    font-family: main;
}
#scrollArea {
    overflow: auto;
}

.main-wrapper {
    float: left;
}

/* navbar fixes */
.navbar {
    background-color: #000;
    border-color: #000;
    margin-bottom: 0;
}

.navbar-static-top {
    z-index: 900;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;

    font-size: 14px;
}

.navbar-nav li a,
.navbar-form {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    cursor: pointer;
}

.dropdown li a {
    line-height: 50px;
    height: 50px;
}

.navbar-form {
    margin-top: 0;
}

.navbar-form .form-group input {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.searchbar {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.navbar-static-top,
.sidebar-brand,
#sidebar-wrapper ul li.sidebar-brand {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
}

#loginForm input {
    margin-bottom: 15px;
}

/* top image for background */
.background-image-top {
    background-image: url('../img/background_grayscaled_resized.jpg');
    z-index: 0;
    position: absolute;
    top: -150px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#page-content-wrapper {
    background-color: rgba(255, 255, 255, 1);
    overflow-y: scroll;
}

#sidebar-wrapper ul li.sidebar-brand {
    background-color: rgba(0, 0, 0, 0.7);
}

#sidebar-wrapper ul li {
    background-color: #eee;
}

/* Boomlie Buttons Custom */
.btn-primary-boomlie {
    border-radius: 0;
    background-color: #3366cc;
    color: white;
}

.btn-primary-boomlie:hover,
.btn-primary-boomlie:focus {
    border-radius: 0;
    background-color: #3366ff;
    color: white;
}

.btn-default-boomlie {
    border-radius: 0;
    background-color: #333333;
    color: white;
}

.btn-default-boomlie:hover,
.btn-default-boomlie:focus {
    border-radius: 0;
    background-color: #444444;
    color: white;
}

.btn-warning-boomlie {
    border-radius: 0;
    background-color: #e38d13;
    color: white;
}

.btn-warning-boomlie:hover,
.btn-warning-boomlie:focus {
    border-radius: 0;
    background-color: #e39a30;
    color: white;
}

.btn-demo li {
    margin-bottom: 15px;
}

/* buttons end styles */

/*play pause nav player*/
.playbar {
    color: white;
    padding-left: 50px;
}

/* Register Page */
.btn-register {
    height: 100px;
    width: 100%;
    font-size: 32px;
}

.btn-register-info {
    margin-bottom: 5px;
    height: 60px;
    font-size: 32px;
}

.register-active,
.register-active:focus{
    background-color: #3366cc;
}

.register-active:hover,
.register-active:active {
    background-color: #3366ff;
}

.glyphicon-register {
    font-size: 32px;

    margin-bottom: 5px;
}

.sign-up-list > li > span.glyphicon-ok {
    color: #1c9b16;
}

.sign-up-list > li > span.glyphicon-remove {
    color: #b20000;
}

.sign-up-list {
    font-size: 22px;
}

.sign-up-list > li > span {
    width: 100%;
    height: 100%;
}

.sign-up-list > li {
    margin-left: auto;
    margin-right: auto;
}

.register-form {
    background-color: #0f0f0f;
    padding-top:25px;
    padding-bottom: 25px;
    margin: 0 auto;
    width:50%;
    border-radius: 4px;
}

.register-form label {
    color: white;
    text-transform: uppercase;
}

.text-small {
    font-size: 15px;
    display: block;
}

.register-review { color: white;}
.register-review b {
    text-transform: capitalize;
}


